header{
    
    background-color: #054a29ff;
    margin: 0;
    
    h1{
        
        margin: 0;
        padding: 25px;
        
    }
    
}


body{
    
    article{
        
        margin-bottom: 50px;
        
    }
    
    
    font-family: "Roboto", sans-serif;
    
    background: #1D263BFF;
    background: linear-gradient(90deg, rgba(29, 38, 59, 1) 0%, rgb(27, 53, 27) 100%);
    color: white;
    

    div{
        
        padding-right: 50px;
        padding-left: 50px;
    }
    
    
    h3{
        text-transform: uppercase;
    }
    
    footer{
        
        background-color: #054a29ff;
            margin: 0;
            
            p{
                margin: 0;
                padding: 25px;
            }
        
    }
    
}