*{
    margin:0;
     padding:0;
}

body{
    font-family: "Roboto", sans-serif;
   
}
h2{

    font-size:32px;
    padding:5px;
    background-color:rgb(167, 69, 112);
    color: rgb(255,255,255);
}
nav{
    padding-bottom:5px;
    background-color:rgb(167, 69, 112);
}
nav ul{
    display:flex;
    justify-content:right;
  
}
nav ul li{
    width:10%;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;

      
}
nav li a{
text-decoration: none;
color:rgb(255, 255, 255);
}

main{
    margin: 10px;
     background-color: rgb(229, 243, 245);
     min-height:calc(75vh);
}

footer{
     background-color:rgb(167, 69, 112);
       min-height:5vh;
       padding:5px;
       color: rgb(255,255,255);

}


.form-section,
.thank-you {
    background-color: #fff8e6;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
    margin: 30px auto;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

button,
.btn {
    background-color: #e38b06;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none;
}

button:hover,
.btn:hover {
    background-color: #c97705;
}

.result-box {
    background: #fff;
    border: 2px solid #e38b06;
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    font-weight: bold;
}