.container {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    margin: 30px;
}

#particleCanvas {
    background: #000;
    border: 3px solid #333;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px auto;
}

input {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 6px 15px;
    font-size: 16px;
    background: #0078ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #005acc;
}

#responseMsg.hidden {
    display: none;
}

#responseMsg {
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.5s;
}